@use '../../../scss/index.scss' as *;
@use '../../../scss/variables.scss' as *;

.tab-box {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  width: 100%;
  padding: 0.4rem;
  border-radius: 0.6rem;

  background-color: $bl-200;

  &__button {
    display: grid;
    place-items: center;

    width: 100%;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;

    font-size: 0.8rem;
    font-weight: 400;

    color: $wh-500;
    background-color: $bl-200;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &.active {
      background-color: $bl-300;
      color: $wh-100;
    }

    &:focus {
      outline: none;
      color: $wh-200;
      filter: brightness(1.2);
    }
  }
}



// Media

@media (width <=480px) {

  .tab-box {
    // flex-direction: column;


    // padding: 0.32rem;
    border-radius: 0.6rem;

    &__button {
      // padding: 0.5rem .32rem;
      border-radius: 0.4rem;

      font-size: 0.8rem;
      font-weight: 400;
    }
  }


}