@use '../scss/variables' as *;
@use '../scss/index.scss' as *;

// Control de paginas

.page {
  position: absolute;
  top: 0;
  left: $sidebar-width;

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  width: calc(100% - $sidebar-width);
  height: 100%;

  padding: 2rem;

  overflow-y: auto;
}

.page--visible {
  opacity: 1;
  transform: translateY(0);
  z-index: 10;
}

.page--hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

// 

main{
  position: relative;
  box-sizing: border-box;

  height: 100%;
}

// [ ]: Migrar Home a su propio hoja de estilos

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

.hidden {
  display: none;
}

// [ ]: Migrar Settings a su propio hoja de estilos

.settings{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  .heading{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 100%;

    h2{
      font-size: .9rem;
      font-weight: 400;
      letter-spacing: .075rem;
      color: $wh-500;
    }
    
  }

  form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
    min-width: 24rem;
    width: 60%;
    max-width: 36rem;
    
    fieldset{
      display: flex;
      flex-direction: column;
      gap: 2rem;

      padding: 0;
      border: none;
    }

    legend{
      font-family: $font-primary;
      font-size: .8rem;
      letter-spacing: .05rem;

      margin-bottom: 1.6rem;

      color: $wh-500;
    }

    // button{
    //   @include button-styles($wh-200, $bl-300, none);

    //   font-family: inherit;
    //   font-size: .9rem;
    //   font-weight: 500;
    //   text-transform: capitalize;

    //   margin-top: 1rem;

    //   padding: .65rem 0 .5rem;

    //   &:hover{
    //     filter: brightness(.9);
    //   }
    // }

    hr{
      height: 1px;
      border-radius: .4rem;

      margin: 0;

      border: none;
      background-color: $bl-100;
    }
  }

}

  