@use '../scss/variables' as *;
@use '../scss/index.scss' as *;

// Control de paginas

.page {
  position: absolute;
  top: 0;
  left: $sidebar-width;

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;

  width: calc(100% - $sidebar-width);
  height: 100%;

  padding: 2rem;

  overflow-y: auto;
}

.page--visible {
  opacity: 1;
  transform: translateY(0);
  z-index: 10;
}

.page--hidden {
  opacity: 0;
  pointer-events: none;
  z-index: 0;
}

//

main {
  position: relative;
  box-sizing: border-box;

  height: 100%;
}

@media (width <=768px) {
  .page {
    width: 100%;

    top: 0;
    left: 0;
  }
}