@use '../../scss/variables.scss' as *;

.sidebar {
  position: fixed;
  z-index: 1000;
  left: $sidebar-gap;
  top: $sidebar-gap;
  bottom: $sidebar-gap;

  display: flex;
  flex-direction: column;

  width: 12rem;
  // border-radius: 0.64rem;

  border: 1px solid $bl-300;
  background-color: $bl-200;

  &__logo-section {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    padding: 1rem 1.8rem;
    border-bottom: 1px solid $bl-300;

    img {
      height: auto;
      width: 2.2rem;

      object-fit: cover;
    }

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding-top: 0.2rem;

      p {
        font-size: 1rem;
        font-weight: 600;
        color: $wh-100;

        line-height: 1;
      }

      small {
        color: $bl-500;
        font-size: 0.72rem;

        line-height: 1rem;
      }
    }
  }

  &__nav {
    padding: 1.2rem;

    ul {
      display: flex;
      flex-direction: column;
      align-items: left;
      gap: 0.4rem;

      list-style: none;

      li {
        .sidebar__tab {
          display: flex;
          align-items: center;
          gap: 0.8rem;

          padding: 0.6rem 0.8rem;
          border-radius: 0.4rem;

          transition: all 0.2s ease;

          img {
            aspect-ratio: 1;
            width: 1.4rem;
          }

          span {
            text-transform: capitalize;
            font-weight: 400;
            line-height: 0.6;
            margin-top: 0.2rem;

            color: $wh-400;
          }

          &:hover {
            background-color: $bl-300;
          }
        }
      }
    }
  }

  &__login-box {
    margin-top: auto;
  }
}
