@use '../../scss/index.scss' as *;
@use '../../scss/variables.scss' as *;

.pomo-timer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 1.6rem;
  border-radius: .8rem;

  margin: 0 auto;

  border: 1px dashed $border-500;
  
  &__time {
    font-size: clamp(2rem, 12vw, 10rem);
    font-weight: 500;

    text-align: center;

    animation: fadeIn 0.8s forwards ease;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .4rem;
    
    &__button {
      @include button-styles($wh-100, $bl-300, none);

      font-family: inherit;
      font-size: 1.2rem;
      font-weight: 500;

      padding: .36rem 2rem .4rem;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;  // Empieza visible
  }
  to {
    opacity: 1;  // Termina invisible
  }
}


