@use './variables.scss' as *;

:root {
  color-scheme: light dark;
  accent-color: $wh-300;

  font-family: $font-primary;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;

  background: linear-gradient(45deg, hsl(0, 0%, 4%) 60%, hsl(0, 0%, 12%));
}

body, #root, main {
  height: 100%;
  // [ ]: Arreglar para que ocupe solo el 100% de la pantalla
  overflow: hidden; 
}

// Estilos predefinidos

a {
  text-decoration: none;
  color: $wh-200;
}

