// Hue
$hue: 80;

// Primary Colors
$pm-100: hsl($hue, 50%, 90%);
$pm-200: hsl($hue, 50%, 80%);
$pm-300: hsl($hue, 60%, 70%);
$pm-400: hsl($hue, 60%, 50%);
$pm-500: hsl($hue, 70%, 30%);
$pm-600: hsl($hue, 70%, 20%);
$pm-700: hsl($hue, 80%, 10%);

// Border
$border-100: hsl(0, 0%, 70%);
$border-200: hsl(0, 0%, 60%);
$border-300: hsl(0, 0%, 50%);
$border-400: hsl(0, 0%, 40%);
$border-500: hsl(0, 0%, 30%);

// White
$wh-100: hsl(0, 0%, 90%);
$wh-200: hsl(0, 0%, 80%);
$wh-300: hsl(0, 0%, 70%);
$wh-400: hsl(0, 0%, 60%);
$wh-500: hsl(0, 0%, 50%);

// Black
$bl-100: hsl(0, 0%, 10%);
$bl-200: hsl(0, 0%, 16%);
$bl-300: hsl(0, 0%, 24%);
$bl-400: hsl(0, 0%, 32%);
$bl-500: hsl(0, 0%, 40%);

// Font Sizes
$font-size-base: 16px;

// Font Families
$font-primary: 'Rubik', sans-serif;

// Global
$sidebar-gap: 0.8rem;
$sidebar-width: calc(12rem + $sidebar-gap);

// Mixins
@mixin button-styles($bg-color, $text-color, $border: none) {
  display: inline-grid;
  place-items: center;

  padding: 0.36rem 1.2rem;
  border: $border;
  border-radius: 0.4rem;

  text-decoration: none;
  white-space: nowrap;

  color: $text-color;
  background-color: $bg-color;

  transition: all 0.3s ease;
  cursor: pointer;
}
